# dependencies
/client-native/node_modules
/client-react/node_modules
/server/node_modules

# production
/server/build
/client-react/build
/client-native/build

# misc
.DS_Store
/server/.env
/client-react/.env
/client-native/.env

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
